<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/research">Research</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/outreach">Outreach</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
    <div class="social-icons">
    <ul class="text-left">
      <li><a href="mailto:rkstan@bu.edu">email</a></li>
      <li><a href="{{ site.author.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="{{ site.author.researchgate }}" target="_blank"><i class="fa fa-flask"></i></a></li>
      <li><a href="{{ site.author.github }}" target="_blank"><i class="fa fa-github"></i></a></li>
  </ul>
</div>
   

  </footer>
  </body>

</html>
